# modules
node_modules
# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/

# Serverless directories
.serverless

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
